@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&display=swap');

/* --- general ----------------------------------------------------------- */

html {
    font-family: 'Lato';
}

a {
    color: inherit;
    text-decoration: inherit;
}

ul {
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

li {
    list-style: none;
}

body {
    min-height: 200vh;
}

img {
    width: 100%;
    height: auto;
    overflow: hidden;
}

h2 {
    display: block;
    font-size: 18px;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: normal;
}

/* --- header ----------------------------------------------------------- */

header.main {
    margin: 0% 10%;
}

.logo, .about {
    padding: 20px 0px;
    width: 100%;
}

.logo {
    font-size: 72px;
}

.logo img {
    width: 30%;
    height: auto;
}

.about {
    padding-top: 0px
}

/* --- filter ----------------------------------------------------------- */

ul.categories {
    width: 80%;
    text-align: center;
    margin: 0% 10%;
}

.categories li {
    display: inline-block;
    text-align: left;
    width: calc(100% / 3 - 6px);
}

select {
    padding: 5px;
    background-color: #d0a4c0;
    width: 100%;

    margin: 5px 0px
}

option label{
    padding: 5px;
    display: block;
    font-size: 12px;
    position: relative;
    z-index: 2;
}

option {
    height: 0;
    padding: 0;
    overflow: hidden;
}

/*--- grid ----------------------------------------------------------- */

ul.tools {
    justify-self: stretch;

    display: inline-block;
    text-align: left;

    padding: 10px;

    background-color: #fff;

    margin: 0% 10%;
    height: 100%;
    position: relative;

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;

}

/* --- responsive ----------------------------------------------------------- */

@media screen and (min-width: 500px) {
    ul.tools{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }
}

@media screen and (min-width: 800px) {
    ul.tools{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        margin: 0px 10%;
    }
}

@media screen and (min-width: 1200px) {
    ul.tools{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
        margin: 0px 10%;
    }
}